/*titulo-1 esta clase sirve para realizar el diseño y los estilos del titulo 1*/
.titulo-1{
    background-color: rgb(8, 24, 235);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Acme', sans-serif;
    font-family: 'Kalam', cursive;
}

/*titulo-2 esta clase sirve para realizar el diseño y los estilos del titulo 2*/
.titulo-2{
    font-family: 'Acme', sans-serif;
    font-family: 'Carrois Gothic SC', sans-serif;
}

/*titulo-3 esta clase sirve para realizar el diseño y los estilos del titulo 3*/
.titulo-3{
    font-family: 'Acme', sans-serif;
    font-family: 'Taviraj', serif;     
}

body{
    background-image: url(https://lh6.ggpht.com/-QnfssaBM0Hw/U92o6MvQZvI/AAAAAAABNlI/e14WT73JC4g/gifs-animados-musica-60%25255B4%25255D.gif?imgmax=800);
    background-repeat: no-repeat;
    background-position: right;  
}

.contenedor{
    display: flex;
    justify-content: center;
}

button{
    background-color: rgb(56, 56, 252);
}